name: Python Auto Release

on:
  release:
    types: [created]   # runs when a new release is published

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: pyinstaller --onefile main.py

      - name: Zip build
        run: zip -r StudentGrader.zip dist/

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/main.exe
            StudentGrader.zip
          overwrite: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
